<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Vote!</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/profile">Profile</a></li>
            <li class="nav-item"><a href="/logout">Logout</a></li>
            <li class="nav-item"><a href="/profile/poll">My Polls</a></li>
        </ul>
    </div>
</nav>