<title>VOTE - create polls and vote</title>

<h2>Vote</h2>

<form action="/login">
    <input type="submit" class="btn" value="Login">
</form>
<br>
<form action="/signup">
    <input type="submit" class="btn" value="Sign Up">
</form>

